/* Base styles */
:root {
    --bg-color: #1a1a1a;
    --text-color: azure;
    --link-color: #6ea8fe;
    --border-color: #b9b9b9;
    --header-height: 50px;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden; 
}

li {
    margin: 5px 0;
    line-height: 1.4;
}

a {
    color: var(--link-color);
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}
/* Form elements */
input, textarea, button {
    background-color: #2d2d2d;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 4px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 0;
    background-color: transparent;
}
  
button:hover {
    background-color: #4d4d4d;
}

#app {
    width: 100%;
    height: 100%;
    min-width: 400px;
    margin: 0 auto;
    overflow: hidden; /* Prevent app scrolling */
}

.error {
    color: red;
}

.success {
    color: orange;
    font-weight: bold;    
}

.bold {
    font-weight: bold;
}

.faint {
    opacity: 0.5;
}

.selected {
    background-color: #000;
}

.outlined {
    border: 1px solid var(--border-color);
}

.header {
    top: 0;
    height: var(--header-height);
    width: 100%;
    background-color: #252525;
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
}

.header-menu-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20px;
    font-size: 22px;
    color: orange;
    @media (min-width: 700px) {
        display: none;
    }
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 22px;
    margin-left: 2px;
    color: orange;
    @media (min-width: 700px) {
        margin-left: 15px;
    }
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
}

.header-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 15px;
}

.panel {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden; /* Prevent panel scrolling */
}

.menu {
    width: 240px;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 1.4;
    z-index: 100;
    position: fixed;
    background-color: #1c1c1c;
    @media (min-width: 700px) {
        position: relative;
    }
}

.closed {
    display: none;
    @media (min-width: 700px) {
        display: flex;
    }
}

.menu-button {
    text-align: left;
    padding: 10px 14px;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
}



.active {
    color: #ffffff;
}

.item {
    margin-bottom: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 10px;
}

.content-button {
    margin-left: 5px;
    border-radius: 2px;
}

.action-button {
    border-radius: 3px;
    color: orange;
    border: 1px solid orange;
}

.action-button:disabled {
    background-color: #4d4d4d;
    opacity: 0.7;
    cursor: not-allowed;
}   

.danger-button {
    border-radius: 3px;
    color: red;
    border: 1px solid red;
}
.title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: orange;
}

.row {
    margin-bottom: 10px;
}

.keys {
    padding: 15px;
}
.no-keypairs {
    margin: 10px 0;
    height: 1px;
    background-color: var(--border-color);
}

.keypair-name {
    margin-bottom: 2px;
}

.hilighted {
    background-color: orange;
    color: black;
}

.relays {
    padding: 15px;
}

.body {
    z-index: 1;
    flex: 1;
    font-size: 16px;
    background-color: #111111;
    height: calc(100vh - var(--header-height)); /* Subtract header height */
    width: 100%;
    position: relative; /* Enable proper scrolling */
}

.draft {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.editor {
    background-color: #060606;
    position: relative;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
}

.editor-main {
    margin: 10px;
    height: calc(100% - 20px);
}

.draft-buttons {
    background-color: #060606;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.draft-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;
    background-color: #141414;
    flex-shrink: 0;
}

.surveyor {
    overflow-y: scroll;
}

.surveyor-events {
    background-color: #141414;
    display: flex;
    flex-direction: column;
}

.query {
    position: relative;
    color: darkgray;
    background: black;
    border: 1px solid dimgray;
    padding: 5px;
    border-radius: 4px;
    margin-left: -5px;
}

.suggestions {
    position: absolute;
    top: 32px;
    left: 0;
    color: darkblue;
    background: lightcyan;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
}

.event {
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    margin: 10px;
    margin-top: 0;
    color: white;
    background: #060606;
    border: 1px solid orange;
    white-space: pre-wrap;
}

.event-id {
    color: orange;
}

.event-pubkey {
    color: darkturquoise;
}

.event-timestamp {
    opacity: 0.5;
}

.event-kind {
    opacity: 0.5;
}

.event-content {

}

.event-tag {
    opacity: 0.5;
}

.prompt {
    padding: 10px;
    opacity: 0.5;
    font-size: 14px;
}